@page "/"

<div>
	<PreviewCard Title="TagInput" Text="Renders a tag input field." />
	<PreviewCard Title="MultiselectCheckbox" Text="Renders a checkbox list that uses a callback function to pass its selected value/values to the parent component." />
	<PreviewCard Title="LimitedWordTextarea" Text="Renders a textarea component with a word limit." />
	<PreviewCard Title="Modal" Text="Renders a Modal component, controllable through events." />
	<PreviewCard Title="Tabs" Text="Renders a tabbed menu and view component." />
	<PreviewCard Title="Accordion" Text="Renders an accordion menu with multiple collapsible content elements." />
	<PreviewCard Title="TreeView" Text="Renders a tree view of a JSON object or array with collapsible content." />
	<PreviewCard Title="RippleButton" Text="Renders a button that animates a ripple effect when clicked." />
	<PreviewCard Title="Alert" Text="Renders an alert component with 'type' prop." />
	<PreviewCard Title="CountDown" Text="Renders a countdown timer that prints a message when it reaches zero." />
	<PreviewCard Title="FileDrop" Text="Renders a file drag and drop component for a single file." />
	<PreviewCard Title="StarRating" Text="Renders a star rating component." />
	<PreviewCard Title="MappedTable" Text="Renders a table with rows dynamically created from an array of objects and a list of property names." />
	<PreviewCard Title="Carousel" Text="Renders a carousel component." />
	<PreviewCard Title="Select" Text="Renders an uncontrolled <select> element that uses a callback function to pass its value to the parent component."></PreviewCard>
</div>