@inherits LayoutComponentBase

<div class="container">
	<a href="/">
		<img src="30s-logo-title-3.svg" alt="30 seconds of Blazor" class="my-lg-5 pb-lg-4 my-3 pb-5">
	</a>

	@Body

	<footer class="py-4">
		<div class="d-flex">
			<a href="https://github.com/danietzu" target="_blank" class="mr-3">GitHub</a>
			<a href="https://www.linkedin.com/in/daniele-cerro-63b14314b/" target="_blank" class="mr-3">LinkedIn</a>
			<a href="https://twitter.com/danietzu" target="_blank">Twitter</a>
		</div>
		<p class="my-3">
			All React snippets are taken from the original <a href="https://www.30secondsofcode.org/" target="_blank">30 seconds of code</a> project.
		</p>
	</footer>
</div>