.tag-input {
    display: flex;
    flex-wrap: wrap;
    min-height: 48px;
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-radius: 6px;
}

.tag-input input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0;
}

.tag-input input:focus {
    outline: transparent;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 8px 0 0;
}

.tag {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 8px;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    background: #0052cc;
}

.tag-title {
    margin-top: 3px;
}

.tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}