.tree-element {
    margin: 0 0 0 4px;
    position: relative;
}

.tree-element.is-child {
    margin-left: 16px;
}

div.tree-element:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 1px;
    height: calc(100% - 48px);
    border-left: 1px solid gray;
}

p.tree-element {
    margin-left: 16px;
}

.toggler {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid gray;
    cursor: pointer;
}

.toggler.closed {
    transform: rotate(90deg);
}

.collapsed {
    display: none;
}