@page "/components/Modal"

<SnippetPage Component="@(new Modal())">
	<Modal IsVisible="@false" Title="Modal Title">
		<Content>
			<p>Add your content here</p>
		</Content>
		<Footer>
			<button>Close</button>
		</Footer>
	</Modal>
</SnippetPage>